#menu-wiki-virus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 1% 2%;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  background: white;
}

#text-virus {
  color: rgb(0, 0, 0);
  font-size: 110%;
  padding-right: 90%;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: normal;
}

#text-viruss {
color: rgb(0, 0, 0);
font-size: 110%;
font-family: 'PT Sans Caption', sans-serif;
font-weight: normal;
}

/* #menu-logo {
  display: table-cell ;
  height: 25%;
  text-align: center;
  width: 25%;
  vertical-align: middle;
  padding: 2%;
} */