#base-usb {
  margin: 0 auto;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
  max-width: 1300px;
}
#base-usb a {
  text-decoration: none;
}
#menu-wiki {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 1% 2%;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  background: white;
}
#menu-logo {
  color: rgb(0, 0, 0);
  font-size: 110%;
  padding-right: 90%;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: normal;
}
#menu-text {
color: rgb(0, 0, 0);
font-size: 110%;
font-family: 'PT Sans Caption', sans-serif;
font-weight: normal;
}
#base {
  padding-top: 25px;
}
.block {
  display: block;
  position: relative;
  background: white;
  width: 90%;
  margin: 0 auto 25px;
  padding: 20px 20px;
  border: 1px solid #cccccc;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: all .5s ease;
}
.block:hover {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
  transition: all .3s ease;
  animation: shaking 0.5s infinite;
  }
@keyframes shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(0.5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-0.5deg); }
    100% { transform: rotate(0deg); }
}
.block:nth-of-type(2) {
  margin-top: 50px;
}
.block img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
  object-fit: cover;
  padding-bottom: 10px;
}
.block h1 {
  font-family: 'PT Sans Caption', sans-serif;
  color: rgba(0, 0, 0, .8);
  font-size: 200%;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}
.block p {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 20px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.500);
}
.block a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}