@media all and (max-width: 1000px) {
  .ai {
    position: flex;
    flex-direction: column;
  }
  .ai1 {
    max-width: 100% !important;
    margin-right: 0% !important;
    margin-bottom: 4%;
  }
  .ai2 {
    max-width: 100% !important;
  }
}

.ai {
  padding-bottom: 25px;
}
.ai1 {
  display:inline-block;
  padding: 10px 10px 5px 10px;
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  font-family: 'PT Sans Caption', sans-serif;
  line-height: 1.1;
  max-width:45%;
  margin-right: 2%;
}
.ai1 img {
  max-width: 100%;
  max-height: 500px;
}
.ai1 p {
font-size: 85%;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.ai2 {
  display:inline-block;
  padding: 10px 10px 5px 10px;
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  font-family: 'PT Sans Caption', sans-serif;
  line-height: 1.1;
  max-width:45%;
}
.ai2 img {
  max-width: 100%;
  max-height: 500px;
}
.ai2 p {
  font-size: 85%;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.hide {
  display: none;
}


.text {
  margin-bottom: 35px;
  width: 26.5ch;
  color: rgb(0, 0, 0);
  font-size: 30px;
  white-space: nowrap;  /* не переносить текст на другую строку */
  overflow: hidden; /* скрываем переполнение контентом */
  border-right: 3px solid #0037ff; /* рисуем курсор */
  animation: cursor 0.2s step-end infinite,
  printed_text 3s steps(29),
  blink-caret .2s step-end infinite;
}      
@keyframes printed_text {
  from{
      width: 0;
  }
}  

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #0037ffc6 }
}